

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sa;
}
body{
    font-family: ;
    background-color:black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0px;
}
.nav-bar:hover{
    background-color: darkgrey;
}
.logo img{
    width: 60px;
    margin: 10px 15px;
    cursor: pointer;
}
.search-box{
    display: flex;
    flex: 1;
    margin: 0px 10px;
}
.search-box input{
    display: flex;
    flex: 1;
    padding: 2px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.search-box-button{
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0px;
    background: color #00649f;
    color: #000;
    cursor: pointer;
}
.search-box button:hover{
    background-color: orange;
    font-family: white;
    cursor: pointer;
}
.nav-links a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 15px;
}
.nav-links a:hover{
    text-decoration: underline;
}
.nav-icon a{
    margin-left: 10px;

}
.nav-icon img{
    width: 15px;
    filter: invert(100%);

}
.hero-section img{
    width: 100%;
    margin-top: 9px;
    border-radius: 9px;
}
.hero-section{
    padding-top: 100px;
}

.heading{
    text-align: center;
    color:white;
    font-weight: 700;
    font-size: x-large;
    margin-top: 20px;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}